body{
    display: flex;
    flex-direction: column;
}
.auto-resize{
    margin-top: 5rem;
    position: relative;
}
.auto-resize span{
    position: absolute;
    left: 0;
    font-family: Arial;
    font-size: 13.33px;
    font-weight: 400;
}

.auto-resize input{
    position: absolute;
    left: 0;
    top: 0;
    min-width: 4px;
    width: 4px;
    text-align: center;
}